@using CourseProject.Models
@model List<Collection>

<h4>Biggest collections</h4>

<div>
    @foreach (var collection in Model)
    {
        @Html.ActionLink(collection.Title, "ShowCollection", new { id = collection.Id }) <span> Items count: @collection.ItemsCount </span> <br />
    }
</div>
