
@{
    ViewBag.Title = "Login";
}
<div class="items">
    <h4>Please login</h4>
    <hr />
    @using (Html.BeginForm())
    {
        <div>
            <p class="login">Login:</p>
            <input type="text" name="login" />
        </div>
        <div >
            <p class="login">Password:</p>
            <input type="password" name="password" />
        </div>
        <p>@ViewBag.ErrorMessage</p>
        <div>
            <input type="submit" value="Login" class="btn btn-dark" formaction="Login" formmethod="post" />
        </div>
    }
    @Html.ActionLink("Registration", "Registration")

</div>

<style>
    .login {
        margin-top: 5px;
        margin-bottom: 0px !important;
    }
</style>
